<!DOCTYPE html>
<html>
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Billetterie du Musée du Louvre{% endblock %}</title>

        {% block stylesheets %}
        {#chargement du css Bootstrap via cdn#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>
    <div class="container">
        <div id="header">
            <h1>Billetterie en Ligne</h1>
            <p>du Musée du Louvre</p>
        </div>

        <div id="blank_bar" class="row">
            barre intermediaire
        </div>

        <div class="row">
            <div id="menu" class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{{ path('louvre_ticket_step_1') }}">1 - Choix du billet</a>
                    </li>
                    <li>
                        <a href="{{ path('louvre_ticket_step_2') }}">2 - Saisie des informations</a>
                    </li>
                    <li>
                        <a href="{{ path('louvre_ticket_step_3') }}">3 - Récapitulatif - Validation</a>
                    </li>
                    <li>
                        <a href="{{ path('louvre_ticket_step_4') }}">4 - Paiement</a>
                    </li>
                    <li>
                        <a href="{{ path('louvre_ticket_step_5') }}">5 - Confirmation</a>
                    </li>
                    <li>
                        <a href="{{ path('louvre_ticket_step_6') }}">6 - Fin de transaction</a>
                    </li>
                    <li>
                        <a class="btn btn-success btn-lg" href="http://www.louvre.fr">Retour au site du Musée</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" id="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <hr>

        <footer class="row">
            <div class="col-md-6" id="cgv">
                <a href="{{ path('louvre_ticket_cgv') }}">CGV</a>
            </div>
            <div class="col-md-6" id="tarifs">
                <a href="{{  path('louvre_ticket_tarifs') }}">Tarifs</a>
            </div>
        </footer>
    </div>

    {% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endblock %}

    </body>
</html>