{% extends "LouvreTicketPlatformBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}







    <div class="formstyle">
        {{ form_start(formView, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group">
            {{ form_label(formView.visitDate, "Date de la visite", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {{ form_errors(formView.visitDate) }}

            <div class="col-sm-6">
                {{ form_widget(formView.visitDate, {'attr': {'class': 'form-control', 'readonly':'true'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formView.ticketType, "Type de Billet", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {{ form_errors(formView.ticketType) }}

            <div class="col-sm-6">
                {{ form_widget(formView.ticketType, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formView.numberOfTickets, "Nombre de Billets souhaités", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {{ form_errors(formView.numberOfTickets) }}

            <div class="col-sm-6">
                {{ form_widget(formView.numberOfTickets, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formView.email, "Votre Email", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {{ form_errors(formView.email) }}

            <div class="col-sm-6">
                {{ form_widget(formView.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>



        {{ form_end(formView) }}

        <div id="validButton" class="col-sm-6">
            {{ form_widget(formView.validation, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/datePicker.js') }}"></script>
{% endblock %}