{% extends "LouvreTicketPlatformBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <h4> Etape 1 - Choix du billet</h4>

    <div class="formstyle">
        {{ form_start(formView, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_errors(formView.visitDate) }}
            </div>

            {{ form_label(formView.visitDate, "Date de la visite", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            <div class="col-sm-6">
                {{ form_widget(formView.visitDate, {'attr': {'class': 'form-control', 'readonly':'true'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_errors(formView.ticketType) }}
            </div>

            {{ form_label(formView.ticketType, "Type de Billet", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            <div class="col-sm-6">
                {{ form_widget(formView.ticketType, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_errors(formView.numberOfTickets) }}
            </div>

            {{ form_label(formView.numberOfTickets, "Nombre de Billets souhaités", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            <div class="col-sm-6">
                {{ form_widget(formView.numberOfTickets, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_errors(formView.email) }}
            </div>
            {{ form_label(formView.email, "Votre Email", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            <div class="col-sm-6">
                {{ form_widget(formView.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div><br>

        <div class="col-sm-10">
            <input id="validButton" type="submit" value="Validation" class="btn btn-default pull-right"/>
        </div>

        {{ form_end(formView) }}
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('js/datePicker.js') }}"></script>
    {% endblock %}






{% endblock %}

