{% extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block louvreticket_body %}

    <h4> Etape 2 - Saisie des informations</h4>

    <div class="formstyle">
        {#{{ form(formView) }}#}
        {{ form_start(formView, {'attr': {'class': 'form-horizontal'}}) }}

        {% for form in formView.form2 %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_errors(form.name) }}
                </div>

                {{ form_label(form.name, "Nom du visiteur", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

                <div class="col-sm-6">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_errors(form.firstName) }}
                </div>

                {{ form_label(form.firstName, "Prénom du visiteur", {'label_attr':
                    {'class': 'col-md-4 control-label'}}) }}

                <div class="col-sm-6">
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_errors(form.birthDate) }}
                </div>

                {{ form_label(form.birthDate, "Date de naissance du visiteur", {'label_attr':
                    {'class': 'col-md-4 control-label'}}) }}

                <div class="col-sm-6">
                    {{ form_widget(form.birthDate) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_errors(form.country) }}
                </div>
                {{ form_label(form.country, "Pays de résidence du visiteur", {'label_attr':
                    {'class': 'col-md-4 control-label'}}) }}

                <div class="col-sm-6">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="form-group">
                <div>
                    <div class="col-sm-5">
                        Cochez si le visiteur a droit à un tarif réduit
                    </div>

                    <div class="col-sm-7">
                        {{ form_widget(form.reducedPrice) }}
                    </div>
                </div>
            </div>

        {% endfor %}

        <div class="col-sm-10">
            <input id="validButton" type="submit" value="Validation" class="btn btn-default pull-right"/>
        </div>


        {{ form_end(formView) }}
    </div>

{% endblock %}