{% extends "LouvreTicketPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block navi3 %}
    <li class="active"><a id="navi_active" class="navi" href="{{ path('louvre_ticket_step_3') }}">3 - Récapitulatif -
            Paiement <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block louvreticket_body %}
    <div class="col-sm-offset-2 col-sm-10">
        <h4> Etape 3 - Récapitulatif et paiement</h4>
    </div>
    <div id="recap_infos" class="col-sm-10 formstyle">
        Votre email: {{ recap1.email }}
        <br/>
        Date de votre visite: {{ recap1.visitDate }}
        <br/>
        Nombre de billets réservés: {{ recap1.numberOfTickets }}
        <br/>
        Type de billet réservé: {{ recap1.ticketType }}
    </div><br>

    <div class="col-sm-10"><br>
        <h4>Veuillez controler l'exactitude des informations avant de valider</h4><br/>
        <div class="row formstyle">
            {% for form in recap2.form2 %}
                <div class="col-sm-10" id="recap_order">
                    <p>Nom: {{ form.name }}</p>
                    <p>Prénom: {{ form.firstName }}</p>
                    <p>Date de naissance: {{ form.birthDate|date('d-m-Y') }}</p>
                    <p>Tarif réduit: {{ form.reducedPrice ? 'Oui: Un justificatif vous sera demandé lors de votre
                entrée au musée ':'Non' }}</p>
                    <br/>
                </div>
                <div class="col-sm-1" id="recap_price">
                    <h3>{{ form.realPrice }}€</h3>
                </div>
            {% endfor %}
        </div>
        <div class="row formstyle">
            <div class="col-sm-offset-4 col-sm-4">
                <h3>Total = {{ recap2.totalPrice }}€</h3>
            </div>
        </div>
        <br>

        {% if errorMessage is not empty %}
            <div class="alert alert-warning">
                {{ errorMessage }}
            </div>
        {% endif %}


        <div class="row formstyle">
            <div class="col-sm-offset-2 col-sm-6"><br/>
                <form id="payment_form" method="post">
                    <div class="form-group">
                        <label for="name">Votre nom</label>
                        <input type="text" name="cardName" placeholder="Votre nom" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Votre numéro de carte bancaire</label>
                        <input type="text" placeholder="4242 4242 4242 4242" class="form-control" data-stripe="number">
                    </div>
                    <div class="form-group">
                        <label for="expMonth">Mois d'expiration</label>
                        <input type="text" placeholder="MM" class="form-control" data-stripe="exp_month">
                    </div>
                    <div class="form-group">
                        <label for="expYear">Année d'expiration</label>
                        <input type="text" placeholder="AA" class="form-control" data-stripe="exp_year">
                    </div>
                    <div class="form-group">
                        <label for="securityCode">Code de sécurité</label>
                        <input type="text" placeholder="Code de sécurité" class="form-control" data-stripe="cvc">
                    </div>
                    <br/>
                    <div class="form-group col-sm-offset-4 col-sm-4">
                        <button type="submit" id="pay_button" class="btn btn-default">Payer</button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('js/stripePay.js') }}"></script>



{% endblock %}